<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="app/styles/styles.css">
    </head>
    <body>
        <div class="creatHospital">
            <form method = "POST" action="/hospital">
                <label class="creatHospital">Name:</label><br>
                <input type="text" name="name" id="name">
                <br>
                
                <label>location</label><br>
                <input type = "text" name = "location" id = "location">
                <br>
                
                               
                <input type = "submit" name = "submit">
                <br>
            </form>

        </div> 
    </body>
</html>